@import "compass/css3";
@import "variables";

##{$redactor-droparea} {
    position: relative;
    overflow: hidden;
    padding: 140px 20px;
    border: 3px dashed rgba(0, 0, 0, 0.1);
}
##{$redactor-droparea}.drag-hover {
    background: rgba(200, 222, 250, 0.75);
}
##{$redactor-droparea}.drag-drop {
    background: rgba(250, 248, 200, 0.5);
}
##{$redactor-droparea}-placeholder {
    text-align: center;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
}