$font-family:Arial, Helvetica, Verdana, Tahoma, sans-serif !important;

$redactor-box : redactor_box;
$redactor-editor : redactor_editor;
$redactor-box-fullscreen: redactor_box_fullscreen; // !
$redactor-toolbar : redactor_toolbar;
$redactor-dropdown : redactor_dropdown;
$redactor-modal-overlay : redactor_modal_overlay;
$redactor-modal-box: redactor_modal_box;
$redactor-modal : redactor_modal;
$redactor-scrollbar-measure: redactor_scrollbar_measure;
$redactor-modal-delete-btn: redactor_modal_delete_btn;
$redactor-modal-action-btn: redactor_modal_action_btn;
$redactor-formatting-blockquote: redactor_formatting_blockquote;
$redactor-formatting-pre: redactor_formatting_pre;
$redactor-formatting-h1: redactor_formatting_h1;
$redactor-formatting-h2: redactor_formatting_h2;
$redactor-formatting-h3: redactor_formatting_h3;
$redactor-formatting-h4: redactor_formatting_h4;
$redactor-formatting-h5: redactor_formatting_h5;
$toolbar-fixed-box: toolbar_fixed_box;
$redactor-placeholder: redactor_placeholder;
$redactor-toolbar-tooltip: redactor_toolbar_tooltip;
$redactor-dropdown-link-inactive: redactor_dropdown_link_inactive;
$redactor-dropdown-link-selected: redactor_dropdown_link_selected;
$redactor-modal-close : redactor_modal_close;
$redactor-modal-list: redactor_modal_list;
$redactor-modal-tabber: redactor_modal_tabber;
$redactor-input-error: redactor_input_error;
$redactor-droparea: redactor_droparea;
$redactor-progress: redactor_progress;
$progress-bar-stripes: progress_bar_stripes;
$redactor-link-tooltip: redactor_link_tooltip;
$redactor-toolbar-overflow: redactor_toolbar_overflow;
$redactor-toolbar-external: redactor_toolbar_external;
$redactor-act: redactor_act;
$redactor-button-disabled: redactor_button_disabled;
$fa-redactor-btn: fa_redactor_btn;
$redactor-button-focus: redactor_button_focus;
$redactor-btn-image: redactor_btn_image;
$redactor-image-box: redactor_image_box;
$redactor-image-editor: redactor_image_editter;
$redactor-image-resizer: redactor_image_resizer;