@import url(redactor.css);
/* line 6, scss/redactor.scss */
.redactor_editor {
  min-height: 200px; }

/* line 9, scss/redactor.scss */
ul.redactor_toolbar {
  padding: 0 !important; }

/* line 13, scss/redactor.scss */
.redactor_toolbar li {
  padding: 0 !important; }

/* line 17, scss/redactor.scss */
.redactor_toolbar li.redactor_separator,
.redactor_box .redactor_toolbar li.redactor_separator {
  margin: 0 !important;
  border: 0 !important; }

/* line 23, scss/redactor.scss */
.redactor_toolbar li a {
  margin: 0;
  width: 34px;
  height: 32px;
  background-image: none !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 2px 3px !important; }
  /* line 30, scss/redactor.scss */
  .redactor_toolbar li a:after {
    display: block;
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-image: url(../../img/toolbars.png);
    background-repeat: no-repeat; }

/* line 42, scss/redactor.scss */
.redactor_toolbar li a:hover {
  border-color: transparent !important;
  background-color: #1f78d8; }

/* line 47, scss/redactor.scss */
.redactor_toolbar li a:active,
.redactor_toolbar li a.redactor_act {
  border-color: transparent !important;
  background-color: #ccc !important; }

/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_html:hover:after {
  background-position: 0px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_html:after, body .redactor_toolbar li a.redactor_btn_html:active:after, body .redactor_toolbar li a.redactor_btn_html.redactor_act:after {
  background-position: 0px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_formatting:hover:after {
  background-position: -25px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_formatting:after, body .redactor_toolbar li a.redactor_btn_formatting:active:after, body .redactor_toolbar li a.redactor_btn_formatting.redactor_act:after {
  background-position: -25px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_bold:hover:after {
  background-position: -50px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_bold:after, body .redactor_toolbar li a.redactor_btn_bold:active:after, body .redactor_toolbar li a.redactor_btn_bold.redactor_act:after {
  background-position: -50px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_italic:hover:after {
  background-position: -75px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_italic:after, body .redactor_toolbar li a.redactor_btn_italic:active:after, body .redactor_toolbar li a.redactor_btn_italic.redactor_act:after {
  background-position: -75px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_unorderedlist:hover:after {
  background-position: -100px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_unorderedlist:after, body .redactor_toolbar li a.redactor_btn_unorderedlist:active:after, body .redactor_toolbar li a.redactor_btn_unorderedlist.redactor_act:after {
  background-position: -100px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_orderedlist:hover:after {
  background-position: -125px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_orderedlist:after, body .redactor_toolbar li a.redactor_btn_orderedlist:active:after, body .redactor_toolbar li a.redactor_btn_orderedlist.redactor_act:after {
  background-position: -125px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_outdent:hover:after {
  background-position: -150px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_outdent:after, body .redactor_toolbar li a.redactor_btn_outdent:active:after, body .redactor_toolbar li a.redactor_btn_outdent.redactor_act:after {
  background-position: -150px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_indent:hover:after {
  background-position: -175px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_indent:after, body .redactor_toolbar li a.redactor_btn_indent:active:after, body .redactor_toolbar li a.redactor_btn_indent.redactor_act:after {
  background-position: -175px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_image:hover:after {
  background-position: -200px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_image:after, body .redactor_toolbar li a.redactor_btn_image:active:after, body .redactor_toolbar li a.redactor_btn_image.redactor_act:after {
  background-position: -200px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_video:hover:after {
  background-position: -225px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_video:after, body .redactor_toolbar li a.redactor_btn_video:active:after, body .redactor_toolbar li a.redactor_btn_video.redactor_act:after {
  background-position: -225px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_file:hover:after {
  background-position: -250px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_file:after, body .redactor_toolbar li a.redactor_btn_file:active:after, body .redactor_toolbar li a.redactor_btn_file.redactor_act:after {
  background-position: -250px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_table:hover:after {
  background-position: -275px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_table:after, body .redactor_toolbar li a.redactor_btn_table:active:after, body .redactor_toolbar li a.redactor_btn_table.redactor_act:after {
  background-position: -275px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_link:hover:after {
  background-position: -300px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_link:after, body .redactor_toolbar li a.redactor_btn_link:active:after, body .redactor_toolbar li a.redactor_btn_link.redactor_act:after {
  background-position: -300px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_fontcolor:hover:after {
  background-position: -325px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_fontcolor:after, body .redactor_toolbar li a.redactor_btn_fontcolor:active:after, body .redactor_toolbar li a.redactor_btn_fontcolor.redactor_act:after {
  background-position: -325px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_backcolor:hover:after {
  background-position: -350px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_backcolor:after, body .redactor_toolbar li a.redactor_btn_backcolor:active:after, body .redactor_toolbar li a.redactor_btn_backcolor.redactor_act:after {
  background-position: -350px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignleft:hover:after {
  background-position: -375px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignleft:after, body .redactor_toolbar li a.redactor_btn_alignleft:active:after, body .redactor_toolbar li a.redactor_btn_alignleft.redactor_act:after {
  background-position: -375px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_aligncenter:hover:after {
  background-position: -400px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_aligncenter:after, body .redactor_toolbar li a.redactor_btn_aligncenter:active:after, body .redactor_toolbar li a.redactor_btn_aligncenter.redactor_act:after {
  background-position: -400px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignright:hover:after {
  background-position: -425px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignright:after, body .redactor_toolbar li a.redactor_btn_alignright:active:after, body .redactor_toolbar li a.redactor_btn_alignright.redactor_act:after {
  background-position: -425px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_justify:hover:after {
  background-position: -450px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_justify:after, body .redactor_toolbar li a.redactor_btn_justify:active:after, body .redactor_toolbar li a.redactor_btn_justify.redactor_act:after {
  background-position: -450px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_horizontalrule:hover:after {
  background-position: -475px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_horizontalrule:after, body .redactor_toolbar li a.redactor_btn_horizontalrule:active:after, body .redactor_toolbar li a.redactor_btn_horizontalrule.redactor_act:after {
  background-position: -475px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_deleted:hover:after {
  background-position: -500px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_deleted:after, body .redactor_toolbar li a.redactor_btn_deleted:active:after, body .redactor_toolbar li a.redactor_btn_deleted.redactor_act:after {
  background-position: -500px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_underline:hover:after {
  background-position: -525px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_underline:after, body .redactor_toolbar li a.redactor_btn_underline:active:after, body .redactor_toolbar li a.redactor_btn_underline.redactor_act:after {
  background-position: -525px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_fullscreen:hover:after {
  background-position: -550px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_fullscreen:after, body .redactor_toolbar li a.redactor_btn_fullscreen:active:after, body .redactor_toolbar li a.redactor_btn_fullscreen.redactor_act:after {
  background-position: -550px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_normalscreen:hover:after {
  background-position: -575px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_normalscreen:after, body .redactor_toolbar li a.redactor_btn_normalscreen:active:after, body .redactor_toolbar li a.redactor_btn_normalscreen.redactor_act:after {
  background-position: -575px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_clips:hover:after {
  background-position: -600px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_clips:after, body .redactor_toolbar li a.redactor_btn_clips:active:after, body .redactor_toolbar li a.redactor_btn_clips.redactor_act:after {
  background-position: -600px top; }
/* line 56, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignment:hover:after {
  background-position: -625px bottom; }
/* line 59, scss/redactor.scss */
body .redactor_toolbar li a.redactor_btn_alignment:after, body .redactor_toolbar li a.redactor_btn_alignment:active:after, body .redactor_toolbar li a.redactor_btn_alignment.redactor_act:after {
  background-position: -625px top; }

/* line 94, scss/redactor.scss */
.redactor_dropdown {
  padding: 0 !important;
  max-height: 254px;
  overflow: auto; }
  /* line 98, scss/redactor.scss */
  .redactor_dropdown a {
    display: block;
    background-color: #fff;
    padding: 10px 15px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07); }
    /* line 105, scss/redactor.scss */
    .redactor_dropdown a:hover {
      background-color: #1f78d8;
      color: #fff !important;
      text-decoration: none; }
    /* line 110, scss/redactor.scss */
    .redactor_dropdown a:last-child {
      border-bottom: none; }
    /* line 113, scss/redactor.scss */
    .redactor_dropdown a.redactor_color_link {
      margin: 6px -2px -2px 5px;
      padding: 0 !important;
      width: 15px !important;
      height: 15px !important;
      border: 0px solid #fff !important; }
      /* line 121, scss/redactor.scss */
      .redactor_dropdown a.redactor_color_link:last-child:after {
        content: "";
        display: block;
        clear: both; }
    /* line 128, scss/redactor.scss */
    .redactor_dropdown a.redactor_color_none {
      float: left;
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 6px;
      border-top: 1px solid rgba(0, 0, 0, 0.07);
      padding: 5px 15px; }
    /* line 137, scss/redactor.scss */
    .redactor_dropdown a.redactor_separator_drop {
      border: none !important; }
